[Unit]
Description=Velio Marketing Site (velio.watch)
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/docker run --rm \
  --name velio-ww \
  -p 3001:3000 \
  --env-file /home/admin/velio-ww/.env.local \
  velio-ww:latest

ExecStop=/usr/bin/docker stop velio-ww

[Install]
WantedBy=multi-user.target
